include navigation.pug

div(id = 'sl-con' class = 'slider-conteiner')
    div(id = 'sl' class = 'slider')
        div(id = 'line' class = 'slider-line')
            img(class = 'slider-img' id = 'img_1' src='images/slider_img/girl.jpg', alt="")
            img(class = 'slider-img' id = 'img_2' src='images/slider_img/nike.jpg', alt="")
            img(class = 'slider-img' id = 'img_3' src='images/slider_img/3.jpg', alt="")
            img(class = 'slider-img' id = 'img_4' src='images/slider_img/4.jpg', alt="")
            img(class = 'slider-img' id = 'img_5' src='images/slider_img/girl.jpg', alt="")
        div(class = 'but-conteiner') 
            button(id = 'button_slider_1' onclick = 'sliderClick(1)')
            button(id = 'button_slider_2' onclick = 'sliderClick(2)')
            button(id = 'button_slider_3' onclick = 'sliderClick(3)')
            button(id = 'button_slider_4' onclick = 'sliderClick(4)')
            button(id = 'button_slider_5' onclick = 'sliderClick(5)')
script(src="JS/slider.js" type='text/javascript') 
div(class = 'catalog')
    each val in goods
            div(class = 'item-prew')
                a(href = 'goods?id='+val['id'] class = 'non_dec')
                    img(
                        class = 'imag-item'
                        src = 'images/item_prew_img_600x605/' +  val['image']
                        alt = 'asd' 
                    )
                    button(class = 'heart')
                        img(src="images/const_img/heart-item.svg", alt="")
                    button(class = 'case' onclick = 'function123()')
                        img(src="images/const_img/case-item.svg", alt="")
                    div(class = 'info-item')
                        div(class = 'name-item') #{val['name']}
                        div(class = 'price-item') #{val['price']} ₽
include footer