div(id = 'regDiv' class = 'win-con')
    form(id = 'reg-form' action = '/registration', method = 'POST') 
        div(class = 'reg-con')
            a(type = 'button' id = 'closeRegLog' class = 'closeRegLog' onclick = 'closeRegLog()')
                img(src = 'images/const_img/close-svg.svg' alt = '')
            h1 registration 
            div(class='reg-input-con')
                input(type='email' placeholder='e-mail' id = 'email')
            div(class='reg-input-con')
                input(type='password' placeholder='Password' id = 'password')
            div(class='reg-input-con')
                input(type='text' placeholder='Name' id = 'name')
            div(class='reg-input-con')
                input(type='text' placeholder='Second Name' id = 'secondName')
            div(class='reg-input-con')
                input(type='date' placeholder='Birthday' id = 'birthday'  )
            input(type = "submit" class = 'reg-button' value = 'Create')
            a(type = 'button' class = 'login' onclick = 'openLogWin()') Login
            p(class = 'err' id = 'error')
